<div class="page-header">
<h1>About</h1>
<p>
This is designed as a place to share and keep in touch - I would like to maintain all of the contact information and also the other bits in one place.
</p>
<p>I have several ideas for this site but am putting it together in my spare time so please bear with me!
</p>

<li><%= link_to "Edit Account", edit_user_registration_path, :remote => true %></li>

<%= link_to "Sign up", new_user_registration_path, :remote => true %>


</div>




