<div class="center hero-unit">
    <h1>Welcome </h1>
    <p>to Inspired Bride.  This is your place to catalogue and store your thoughts, pictures and insprirations for your wedding day     </p>

    <p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>