<div class="footer">
<style>  
          .footer-container { background: lightgray; }
        </style>
  <div class="footer-container">
  <small>
    <%= link_to "One Month Rails", "http://onemonthrails.com" %>
    by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>
  </small>
</div>
</div>