<div class="footer">
<div class="container">
<style>  
          .footer-container { background: gray; text: white; }
        </style>
  <div class="footer-container">
  <small>
   This is where the about and contact section will go!
  </small>
</div>
</div>